<nav class="navbar navbar-expand-lg bg-dark-subtle">
    <button id="nav-btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-controls="navbarDiv"
        data-bs-target="#navbarDiv" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarDiv">
            <div class="navbar-nav mr-auto">
                <a class="nav-link navLink" routerLink="/home" routerLinkActive="page" ariaCurrent="page">
                    Home
                </a>
                <a class="nav-link navLink" routerLink="/register" routerLinkActive="page"
                    ariaCurrent="page">Register</a>
                <a class="nav-link navLink" routerLink="/login" routerLinkActive="page" ariaCurrent="page">Login</a>
                <a class="nav-link navLink" routerLink="/logout" routerLinkActive="page" ariaCurrent="page">Logout</a>
            </div>
        </div>
    </div>
</nav>

<router-outlet />