@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

.nav-link {
    color: inherit;
}

.nav-link:hover {
    color: inherit;
}

.nav-link:active {
    color: inherit;
}

.nav-link:focus {
    color: inherit;
}