@import 'bootstrap/scss/bootstrap';

nav,
footer {
    background-color: $dark-bg-subtle-dark;
    min-height: 4em;
}

nav {
    @extend .navbar;
    @extend .navbar-expand-md;
    @extend .fixed-top;
    @extend .container-fluid;
    @extend .px-5;
}

.nav-link {

    &:hover,
    &:link,
    &:active,
    &:visited {
        color: $light;
    }

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    img {
        width: 2em;
        height: 2em;
    }
}

#nav-btn {
    @extend .navbar-toggler;
    color: $light;

    &:focus {
        box-shadow: none;
        border: 2px solid $light;
    }
}