<nav class="navbar navbar-expand-lg bg-dark-subtle">
    <button id="nav-btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-controls="navbarDiv"
        data-bs-target="#navbarDiv" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarDiv">
            <div class="navbar-nav mr-auto">
                @if (!user) {
                <a class="nav-link navLink" routerLink="/register" ariaCurrent="page">Register</a>
                <a class="nav-link navLink" routerLink="/login" ariaCurrent="page">Login</a>
                } @else {
                <a class="nav-link navLink" routerLink="/home" ariaCurrent="page">Home</a>
                <a class="nav-link navLink" routerLink="/users/me" ariaCurrent="page">Profile</a>
                <a class="nav-link navLink" routerLink="/logout" ariaCurrent="page">Logout</a>
                }
            </div>
        </div>
    </div>
</nav>

@if (infoMessage) {
<p>{{ infoMessage }}</p>
}

<router-outlet />