@import 'bootstrap/scss/bootstrap';

nav,
footer {
    min-height: 4em;
}

nav {
    @extend .navbar;
    @extend .navbar-expand-md;
    @extend .fixed-top;
    @extend .container-fluid;
    @extend .px-5;
}

.nav-link {

    &:hover,
    &:link,
    &:active,
    &:visited {}

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    img {
        width: 2em;
        height: 2em;
    }
}

#nav-btn {
    @extend .navbar-toggler;

    &:focus {
        box-shadow: none;
    }
}