<nav>
    <button id="nav-btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-controls="navbarDiv"
        data-bs-target="#navbarDiv" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarDiv">
            <div class="navbar-nav mr-auto">
                @if (!user) {
                <a class="nav-link" routerLink="/register" ariaCurrent="page">Register</a>
                <a class="nav-link" routerLink="/login" ariaCurrent="page">Login</a>
                } @else {
                <a class="nav-link" routerLink="/home" ariaCurrent="page">Home</a>
                <a class="nav-link" routerLink="/users/me" ariaCurrent="page">Profile</a>
                <a class="nav-link" routerLink="/logout" ariaCurrent="page">Logout</a>
                }
            </div>
        </div>
    </div>
</nav>

<!-- Makes header part of the layout -->
<div style="height: 4em"></div>

@if (infoMessage) {
<p>{{ infoMessage }}</p>
}

<router-outlet class="d-none" />


<footer class="">
    <p class="mb-0">© emmariescurrena</p>
    <a href="https://github.com/emmariescurrena" target="_blank">
        <img id="githubImg" src="/img/github-mark-white.svg" alt="github">
    </a>
</footer>