/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";


* {
    color: $light;
}

app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $dark;
}

a {
    text-decoration: none;
}

form {
    @extend .rounded;
}

.container {
    @extend .border;
    @extend .rounded;
}