<div class="container d-flex justify-content-between align-items-center mt-4 py-1 px-5">
    <h1 class="text-primary m-0">Home</h1>
    <a routerLink="/posts/create-post" ariaCurrent="page">
        <div class="btn btn-primary btn-lg rounded-pill">
            Create post
        </div>
    </a>
</div>
@if (loading) {
<div class="spinner-border spinner-border-sm"></div>
}
@if (posts) {
@for (post of posts; track $index) {
<article class="container rounder">
    <h2>
        @if (post.title.length > 80) { {{ post.title.slice(0, 80) }}... }
        @else { {{ post.title }} }
    </h2>
    <p>
        @if (post.body.length > 150) { {{ post.body.slice(0, 150) }}...}
        @else { {{ post.body }} }
    </p>
    <p>Author: {{ post.user.name }} {{ post.user.surname }}</p>
</article>
}
}