<main>
    <div id="homeTitle">
        <h1>Home</h1>
        <a routerLink="/posts/create-post" ariaCurrent="page" class="btn btn-primary btn-lg rounded-pill">
            Create post
        </a>
    </div>
    @if (loading) {
    <div class="spinner-border spinner-border-sm"></div>
    }
    @if (posts) {
    @for (post of posts; track $index) {
    <article>
        <a routerLink="/posts/{{ post.id }}">
            <h2>
                @if (post.title.length > 80) { {{ post.title.slice(0, 80) }}... }
                @else { {{ post.title }} }
            </h2>
        </a>
        <a routerLink="/users/{{ post.user.id }}">
            <p>{{ post.user.name }} {{ post.user.surname }}</p>
        </a>
    </article>
    }
    }
</main>